

body {
	background-color: #f0f0f0;
}
.work-title {
	font-family: 'Arvo', serif;
	color: white;
	text-align: center;
	font-size: 40px;
	text-transform: uppercase;
	color: #ed786a;
	text-shadow: 0.05em 0.075em 0 rgba(0,0,0,0.1);
	letter-spacing: 8px;
	margin-top: 100px;

}
.ramble {
	font-family: 'little_daysregular';
	color: white;
	text-align: center;
	font-size: 40px;
}
.ramble-img {
	height: auto;
	margin: 0 auto;
	display: block;
}

a.fa-home, a.fa-female, a.fa-desktop, a.fa-phone {
    color: #888;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 10px;
    text-decoration: none;
}
#nav {
    position: absolute;
    top: 3em;
    left: 0;
    width: 100%;
    text-align: center;
}
li {
	list-style-type: none;
	color: white;
	font-size: 10px;
	letter-spacing: 10px;
	text-decoration: none;
	width: 50%;
	margin: 0 auto;
}
img.ramble-img, .question-img {
	width: 400px;
	height: 205px;
	border: solid 6px #d9d8d8 !important;
}

a.ramble-img:hover {
	color: #ed786a;
}
.row {
	float: left;
	padding: 50px 0 0 50px;
	display: block;
}

.works {
	margin-left: 0px;
	width: 100%;
	clear: none;
}
h3 {
	text-align: center;
	font-family: 'Source Sans Pro', sans-serif;
	text-transform: uppercase;
	color: #888;
	letter-spacing: 2px;
	font-size: 19px;
	padding-top: 30px;
	display: inline-block;
}
p, p.about-ramble {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
	color: #ed786a;
	text-align: center;
	width: 412px;
}
.code {
	width: auto;
}
a.code {
	text-decoration: none;
	color: #ed786a;
}
.float {
  display: inline-block;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.float:hover, .float:focus, .float:active {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
}
.bubble-float-bottom {
  display: inline-block;
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.bubble-float-bottom:before {
  position: absolute;
  z-index: -1;
  content: '';
  left: calc(50% - 10px);
  bottom: 0;
  border-style: solid;
  border-width: 10px 10px 0 10px;
  border-color: #e1e1e1 transparent transparent transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: bottom;
  transition-property: bottom;
}
.bubble-float-bottom:hover, .bubble-float-bottom:focus, .bubble-float-bottom:active {
  -webkit-transform: translateY(-5px) translateZ(0);
  transform: translateY(-5px) translateZ(0);
}
.bubble-float-bottom:hover:before, .bubble-float-bottom:focus:before, .bubble-float-bottom:active:before {
  bottom: -10px;
}
ul {
	display:block;
	width: 100%;
	text-align: center;
	margin: 0 auto;
	padding: 0;
}
.ramble-desc {
	color: #888;
	font-weight: 300;
	margin: 0 auto;
}
section {
	float: left;
}
header {
	text-align: center;	
}
a {
	height: 205px;
	padding: 10px;
}