@font-face {
    font-family: 'bebas_neueregular';
    src: url('fonts/bebasneue-webfont.eot');
    src: url('fonts/bebasneue-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/bebasneue-webfont.woff2') format('woff2'),
         url('fonts/bebasneue-webfont.woff') format('woff'),
         url('fonts/bebasneue-webfont.ttf') format('truetype'),
         url('fonts/bebasneue-webfont.svg#bebas_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'little_daysregular';
    src: url('fonts/little_days-webfont.eot');
    src: url('fonts/little_days-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/little_days-webfont.woff2') format('woff2'),
         url('fonts/little_days-webfont.woff') format('woff'),
         url('fonts/little_days-webfont.ttf') format('truetype'),
         url('fonts/little_days-webfont.svg#little_daysregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
	background-color: #6f1679;
}
.work-title {
	font-family: 'bebas_neueregular';
	color: white;
	text-align: center;
	font-size: 70px;
}
.ramble {
	font-family: 'little_daysregular';
	color: white;
	text-align: center;
	font-size: 40px;
}
.ramble-img {
	width: 500px;
	height: auto;
	margin: 0 auto;
	display: block;
}


